[Desktop Entry]
Name=D1-Graphics-Tool
GenericName=D1-Graphics-Tool
Comment=Manipulate Diablo I assets
Exec=D1GraphicsTool
Icon=d1gt
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;2DGraphics;Viewer;
