name: Windows-x86

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    if: false
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.2'
        arch: 'win32_msvc2019'
        cache: 'true'
        modules: 'all'

    - name: Configure
      run: cmake -S. -Bbuild -A Win32

    - name: Make
      run: cmake --build build -j $(nproc)

    - name: Package
      run: |
        mkdir dist
        copy build\Debug\D1GraphicsTool.exe dist
        cd dist
        windeployqt D1GraphicsTool.exe --no-compiler-runtime --no-opengl-sw --no-system-d3d-compiler --no-virtualkeyboard --no-translations --no-quick-import
      shell: cmd

    #- name: Show content of workspace
    #  run: find $RUNNER_WORKSPACE
    #  shell: bash

    - name: Upload
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool-Windows-x86
        path: dist

    - name: Upload-translations
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool-Translations
        path: languages

  build_release:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '5.15.2'
        arch: 'win32_msvc2019'
        cache: 'true'

    - name: Configure
      run: cmake -S. -Bbuild -A Win32

    - name: Make
      run: cmake --build build -j $(nproc) --config Release

    - name: Package
      run: |
        mkdir dist
        copy build\Release\D1GraphicsTool.exe dist
        cd dist
        windeployqt D1GraphicsTool.exe --no-compiler-runtime --no-opengl-sw --no-system-d3d-compiler --no-virtualkeyboard --no-translations --no-quick-import
      shell: cmd

    - name: Upload
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool-Windows-x86-Release
        path: dist

    - name: Upload bin
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool.exe
        path: build\Release\D1GraphicsTool.exe
