name: Windows

on: [ push, pull_request ]
#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.2.4'
        cache: 'true'
        modules: 'qtmultimedia qtimageformats'

    - name: Configure
      run: cmake -S. -Bbuild

    - name: Make
      run: cmake --build build -j $(nproc) --config Release

    - name: Package
      run: |
        mkdir dist
        copy build\Release\D1GraphicsTool.exe dist
        cd dist
        windeployqt D1GraphicsTool.exe --no-compiler-runtime --no-opengl-sw --no-system-d3d-compiler --no-virtualkeyboard --no-translations --no-quick-import
      shell: cmd

    - name: Upload
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool-Windows-x64
        path: dist

    - name: Upload-translations
      #if: ${{ !env.ACT }}
      if: false
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool-Translations
        path: languages

    - name: Upload bin
      if: ${{ !env.ACT }}
      uses: actions/upload-artifact@v4
      with:
        name: D1GraphicsTool.exe
        path: build\Release\D1GraphicsTool.exe
